.img-pokemon-header {
    height: 60px;
}

.arrow-down {
    width: 30px;
    height: 25px;
}

.arrow-down {
    transition: transform 0.3s ease;
}

.arrow-down:hover {
    transform: scale(1.2);
    filter: brightness(1.5) contrast(1.5) drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
}

.cards {
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--bs-gray-600);
}

.card {
    overflow: hidden;
    border-radius: 10px;
}

.cards:hover {
    cursor: pointer;
    box-shadow:  0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

.cards:hover .img-poke {
    transform: scale(1.1); 
    filter:  drop-shadow(0 0 15px rgba(63, 62, 62, 0.6));
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.img-poke {
    width: 60%; 
    height: 100%; 
    object-fit: contain; 
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.spinner-wrapper {
    background-color: var(--bs-gray-900);; /* Transparenter Hintergrund */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
    flex: 1;
}

.spinner-border {
    height: 60px;
    width: 60px;
}

.disableLoadingSpinner {
    display: none;
}


.main {
    flex: 1;
    overflow: auto;
}

.content {
    position: relative;
    margin-top: 80px;
    margin-bottom: 60px;
}

.nav-link {
    color: grey;
    font-weight: normal;
}

.nav-link.active {
    color: black;
    font-weight: bold;
}

.img-evo-chain {
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.double-arrow {
    width: 30px;
    height: 40px;
}

.dnone {
    display: none;
}



@media (max-width: 460px) {
   .header-left {
    flex-direction: column;
    gap: 8px;
    padding-bottom: 12px;
   } 
}