.ctn-navbar {
    max-width: 1440px;
} 

.title-header {
    color: #F8E55B;
}

.img-pokemon-header {
    height: 60px;
}

.input-box {
    width: 200px !important;
}

.arrow-down {
    width: 30px;
    height: 25px;
    transition: transform 0.3s ease;
}

.arrow-down:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.back-to-cards {
    font-size: 24px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.back-to-cards:hover {
    transform: scale(1.2);
    filter: brightness(1.5) contrast(1.5) drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
}

.cards {
    overflow: hidden;
    border-radius: 12px !important;
    box-shadow: inset 0px 0px 11px 3px rgba(255, 255, 255, 0.2);
}

.card {
    overflow: hidden !important;
    border-radius: 12px !important;
}

.card-footer {
    border: none !important;
}

.card:hover {
    cursor: pointer;
}

.cards:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 11px 5px rgba(255, 255, 255, 0.4);
}

.cards:hover .img-poke {
    transform: scale(1.1); 
    filter:  drop-shadow(0 0 15px rgba(63, 62, 62, 0.6));
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.img-poke {
    width: 70%; 
    height: 100%; 
    object-fit: contain; 
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.img-poke-overlay {
    width: 40%; 
    height: 100%; 
    object-fit: contain; 
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.img-last-poke, .img-next-poke {
    width: 32px;
}

.ability {
    max-width: 150px;
}

.spinner-wrapper {
    background-color: var(--bs-gray-900); 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
    flex: 1;
}

.spinner-border {
    height: 60px;
    width: 60px;
}

.disableLoadingSpinner {
    display: none;
}

.content-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
    flex: 1;
}

.main {
    flex: 1;
    overflow: auto;
}

.content {
    max-width: 1440px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 60px;
}

.nav-link {
    color: grey;
    font-weight: normal;
}

.nav-link.active {
    color: black;
    font-weight: bold;
}

.nav-tabs .nav-link {
    padding: 0.25rem 0.5rem; 
    font-size: 1rem;
  }

 .card-body-overlay {
    height: 210px;
 }

.img-evo-chain {
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.double-arrow {
    width: 30px;
    height: 40px;
}

.dnone {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

@media (max-width: 460px) {
   .header-left {
        flex-direction: column;
        gap: 0px;
        padding-bottom: 8px;
   } 
   .content-cards-overlay {
        width: 95%;
   }
   .ability {
        width: 100px;
   }
   .double-arrow {
        width: 15px;
        height: 20px;
    }   
    .card-text{
        font-size: 14px;
    }
    .btn-load-more-Poke {
        margin: 24px 0 !important;
    }
    .img-pokemon-header {
        height: 40px;
    }
    .title-header {
        padding: 0;
    }
    .input-box {
        width: 220px !important;
        height: 30px;
        margin-top: 4px;
    }
    .search-box img {
        margin-top: 3px;
    }
    .btn-load-more-Poke {
        margin: 12px 0 !important;
    }
    .card-body-overlay {
        height: 185px;
        font-size: 15px ;
     }
     p.card-text.text-start.w-50.fw-semibold {
        margin-bottom: 8px;
    }
    .card-body.card-body-image {
        height: 6rem !important;
    }
    .content-overlay {
        padding-top: 24px;
    }
}

.search-box {
  position: relative;
}

.search-box input {
  padding-left: 40px; 
}

.search-box img {
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
  width: 20px; 
  height: 20px;
  pointer-events: none; 
}

.search-box input:focus {
  border: none; 
  box-shadow: none; 
  outline: none;
}