.fire {
    background-color: #ed4426ff;
} 
.grass {
    background-color: #76cc54ff;
} 
.bug {
    background-color: #abba23ff;
} 
.water {
    background-color: #4f9bffff;
} 
.poison {
    background-color: #c25ec2;
} 
.steel {
    background-color: #A8A77A;
} 
.electric {
    background-color: rgb(209, 209, 1);
} 
.psychic {
    background-color: #FF00FF;
} 
.dark {
    background-color: #333333;
} 
.ghost {
    background-color: #3535ca;
} 
.rock {
    background-color: #F5DEB3;
} 
.ground {
    background-color: #6B8E23;
} 
.normal {
    background-color: #9cb7e9;
} 
.fighting {
    background-color: orange;
} 
.flying {
    background-color: #87CEEB;    
} 
.fairy {
    background-color: #73b2ca;
} 
.ice {
    background-color: #b9d4d4;
} 
