html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bs-gray-900);
}

.navbar {
  background-color: var(--bs-gray-800);
}

.container-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    flex-shrink: 0; /* verhindert, dass Header/Footer schrumpfen */
}

